@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;600;700&display=swap');

:root{
  --green: hsla(157, 36%, 37%, 1);
  --green-hover: hsla(157, 36%, 27%, 1);
}

*{
  box-sizing: border-box;
}

body{
  background:hsl(30, 38%, 92%);
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;

  /* put card in the middle */
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card{
  background: hsl(0, 0%, 100%);
  max-width: 375px;
  margin: 1em;
  border-radius: .7em;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

picture{
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  flex: 1 0;
}

img{
 max-width: 100%;
  /* min-height: 100%; */
  transform: scale(1.1);
}

.text{
  padding: 1em 1.5rem;
  flex: 1 1 0;
}

.type{
  font-size: .8rem;
  color: hsl(228, 12%, 48%);
  letter-spacing: .5ch;
}

h2.title{
  font-family: Fraunces, serif;
  font-size: 2rem;
  line-height: 1.4ch;
  margin: .4em 0;
}

p{
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 2.5ch;
}


.price{
  margin-bottom: 1em;
  display: flex;
  gap: 1em;
}

h2.price--discounted{
  margin: 0;
  font-family: Fraunces, serif;
  font-size: 1.7em;
  color: var(--green);
}

.price--original{
  font-size: .8em;
  color: hsl(228, 12%, 48%);
  position: relative;
  top: .5em;
}

button.btn{
  background: var(--green);
  border: none;
  border-radius: .5em;
  padding: 1em;
  
  vertical-align: middle;
  color: white;
  width: 100%;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

button.btn:hover{
  background: var(--green-hover);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 50em){
  .card{
    max-width: 600px;
    flex-direction: row;
  }

  picture{
    height: 100%;
    flex: 1 1 0;
  }

  .text{
    padding: 2rem;
  }
}