*{
  box-sizing: border-box;
}

body{
  background:hsl(30, 38%, 92%);
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;

  /* put card in the middle */
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card{
  background: hsl(0, 0%, 100%);
  max-width: 375px;
  margin: 1em;
  border-radius: .7em;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

picture, source, img{
  max-width: 100%;
}

.text{
  padding: 1em 1.5em;
}

.type{
  font-size: .8rem;
  color: hsl(228, 12%, 48%);
  letter-spacing: .5ch;
}

h2{
  font-family: Fraunces, serif;
  font-size: 2rem;
  line-height: 1.4ch;
  margin: .4em 0;
}

p{
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 2.5ch;
}

button.cart{
  background: green;
  vertical-align:text-top;
  color: white;
  border: none;
  border-radius: .5em;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  cursor: pointer;
}

.price > .price--discounted{
  font-family: Fraunces, serif;
  font-size: 1.7em;
}

.price > .price--original{
  font-size: .8em;
  color: hsl(228, 12%, 48%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 50em){
  .card{
    max-width: 50vw;
    flex-direction: row;
  }

  picture{
    height: 100%;
  }
}